In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [7]:
pip install fastparquet

Collecting fastparquet
  Obtaining dependency information for fastparquet from https://files.pythonhosted.org/packages/07/97/35d540fd00887476755f37bedfb7a33ad71d8ff307e18037ea67ae9173ed/fastparquet-2023.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading fastparquet-2023.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: pandas>=1.5.0 in /home/Mario/anaconda3/lib/python3.11/site-packages (from fastparquet) (2.0.3)
Requirement already satisfied: numpy>=1.20.3 in /home/Mario/anaconda3/lib/python3.11/site-packages (from fastparquet) (1.24.3)
Collecting cramjam>=2.3 (from fastparquet)
  Obtaining dependency information for cramjam>=2.3 from https://files.pythonhosted.org/packages/c9/50/9b11d395f971852827dafe6ec565eeba1acbee72698c720713da191a3efe/cramjam-2.8.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading cramjam-2.8.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Requirement already satisfied: fsspec in /home/Mario/anaconda3/lib/python3.11/site-packages (from fastparquet) (2023.4.0)
Requirement already satisfied: packaging in /home/Mario/anaconda3/lib/python3.11/site-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/Mario/anaconda3/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/Mario/anaconda3/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/Mario/anaconda3/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in /home/Mario/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2023.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 21.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading cramjam-2.8.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 36.0 MB/s eta 0:00:00 MB/s eta 0:00:01
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.8.0 fastparquet-2023.10.1
Note: you may need to restart the kernel to use updated packages.

In [32]:
df = pd.read_parquet("yellow_tripdata_2023-01.parquet", "fastparquet")

In [33]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [12]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2023-01-01 00:32:10
1    2023-01-01 00:55:08
2    2023-01-01 00:25:04
3    2023-01-01 00:03:48
4    2023-01-01 00:10:29
             ...
95   2023-01-01 00:20:38
96   2023-01-01 00:09:16
97   2023-01-01 00:46:56
98   2023-01-01 00:10:50
99   2023-01-01 00:27:35
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [13]:
pd.to_datetime(df.tpep_dropoff_datetime)

0    2023-01-01 00:40:36
1    2023-01-01 01:01:27
2    2023-01-01 00:37:49
3    2023-01-01 00:13:25
4    2023-01-01 00:21:19
             ...
95   2023-01-01 00:21:26
96   2023-01-01 00:30:17
97   2023-01-01 00:59:16
98   2023-01-01 00:20:19
99   2023-01-01 00:37:49
Name: tpep_dropoff_datetime, Length: 100, dtype: datetime64[ns]

In [21]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
engine.connect()

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [35]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [36]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

766